<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QTV &centerdot; @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="row header">
            <div class="col-3 bg-mineral-green">
                <img src="~/img/logo.svg" alt="Qoollo Logo" class="logo"/>
            </div>
            <div class="col-6 bg-tower-gray">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-3 bg-tower-gray">
                <!-- Userpic and username -->
            </div>
        </header>

        <div class="row main">
            <nav class="nav flex-column col-3">
                <a class="nav-link active" href="#">
                    <img src="~/img/board_icon.svg" class="navicon" />
                    BOARD
                </a>
                <a class="nav-link" href="#">
                    <img src="~/img/settings_icon.svg" class="navicon" />
                    SETTINGS
                </a>
                <a class="nav-link" href="#">
                    <img src="~/img/sign_out_icon.svg" class="navicon" />
                    SIGN OUT
                </a>
            </nav>
            <div class="col-9">
                @RenderBody()
            </di>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
