body {
    font-family: 'Roboto';
    background-color: #E2ECEB;
}


/* Background */

.bg-mineral-green {
    background-color: #3D5653;
}

.bg-mineral-green-light {
    background-color: #425C59;
}

.bg-mystic {
    background-color: #E2ECEB;
}

.bg-tower-gray {
    background-color: rgba(176, 194, 193, 0.4);
}


/* Navigation */

.nav {
    background-color: #425C59;
    padding: 30px 0px 0px 13px;
}

.nav-link {
    padding: 18px;
    color: #E2ECEB;
}

.nav-link.active {
    background-color: #E2ECEB;
    border-radius: 30px 0px 0px 30px;
    color: #3D5653;
}

.navicon {
    padding-left: 10px;
    padding-right: 10px;
}


/* Logo */

.logo {
    padding: 14px 48px;
}


/* Heading */

h1 {
    color: #3D5653;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}