html, body {
    height: 100%;
    font-family: 'Roboto';
    background-color: #E2ECEB;
}

.min-100 {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.logo-bg {
    position: absolute;
    left: 0;
    height: 80px;
    width: 25%;
}

.nav-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
}

.header {
    height: 80px;
    background-color: #CEDCDA;
    border-radius: 0px 30px 30px 0px;
}

.be-relative {
    position: static;
}


/* Background */

.bg-mineral-green {
    background-color: #3D5653;
}

.bg-mineral-green-light {
    background-color: #425C59;
}

.bg-mystic {
    background-color: #E2ECEB;
}

.bg-tower-gray {
    background-color: #CEDCDA;
}

.bg-logo {
    background-color: #3D5653;
    border-radius: 0px 30px 0px 0px;
}


/* Navigation */

.nav {
    background-color: #425C59;
    padding: 30px 0px 0px 13px;
    border-radius: 0px 0px 30px 0px;
}

.nav-link {
    padding: 18px;
    color: #E2ECEB;
}

.nav-link.active {
    background-color: #E2ECEB;
    border-radius: 30px 0px 0px 30px;
    color: #3D5653;
    font-weight: bold;
}

.nav-link.active:hover {
    color: #3D5653;
}

.nav-link:hover {
    font-weight: bold;
    color: #E2ECEB;
}

.navicon {
    padding-left: 10px;
    padding-right: 10px;
}


/* Logo */

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Heading */

h1 {
    color: #3D5653;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
}

h5 {
    color: #3D5653;
    font-weight: bolder;
    font-size: 16px;
}


/* Task */

.task-counter {
    text-align: right;
}

.task {
    min-height: 100px;
    background-color: rgba(176, 194, 193, 0.2);
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px;
}


/* Button */

.btn {
    display: block;
    background: transparent;
    border: 1px solid #3D5653;
    border-radius: 30px;
    color: #3D5653;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    background-color: #3D5653;
    color: white;
}

.btn:focus,
.btn:active {
    box-shadow: 0 0 0 0.2em rgba(61, 86, 83, 0.2) !important;
}

.unrecognized {
    margin-top: 18px;
    margin-bottom: 19px;
}