html, body {
    height: 100%;
    font-family: 'Roboto';
    background-color: #E2ECEB;
}

.min-100 {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.logo-bg {
    position: absolute;
    left: 0;
    height: 80px;
    width: 25%;
}

.nav-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
}

.header {
    height: 80px;
    background-color: #CEDCDA;
    border-radius: 0px 30px 30px 0px;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}


/* Background */

.bg-mineral-green {
    background-color: #3D5653;
}

.bg-mineral-green-light {
    background-color: #425C59;
}

.bg-mystic {
    background-color: #E2ECEB;
}

.bg-tower-gray {
    background-color: #CEDCDA;
}

.bg-logo {
    background-color: #3D5653;
    border-radius: 0px 30px 0px 0px;
}


/* Navigation */

.nav {
    background-color: #425C59;
    padding: 30px 0px 0px 13px;
    border-radius: 0px 0px 30px 0px;
}

.nav-link {
    padding: 18px;
    color: #E2ECEB;
}

.nav-link.active {
    background-color: #E2ECEB;
    border-radius: 30px 0px 0px 30px;
    color: #3D5653;
    font-weight: bold;
}

.nav-link.active:hover {
    color: #3D5653;
}

.nav-link:hover {
    font-weight: bold;
    color: #E2ECEB;
}

.navicon {
    padding-left: 10px;
    padding-right: 10px;
}


/* Logo */

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Heading */

h1 {
    color: #3D5653;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
}

h5 {
    color: #3D5653;
    font-weight: bolder;
    font-size: 16px;
}


/* Task */

.task-counter {
    text-align: right;
}

.task {
    height: 100px;
    background-color: rgba(176, 194, 193, 0.2);
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px;
    color: #333333;
}

.unrecognized-task {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.task-title-lim {
    min-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.label {
    font-size: 10pt;
    display: inline-block;
    background-color: #C4C4C4;
    border-radius: 100px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

/* Button */

.btn {
    display: block;
    background: transparent;
    border: 1px solid #3D5653;
    border-radius: 30px;
    color: #3D5653;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    background-color: #3D5653;
    color: white;
}

.btn:focus,
.btn:active {
    box-shadow: 0 0 0 0.2em rgba(61, 86, 83, 0.2) !important;
}

.unrecognized-btn {
    margin-top: 18px;
    margin-bottom: 19px;
}


/* Text */



/* Filter */

.filter-red {
    filter: invert(62%) sepia(84%) saturate(4508%) hue-rotate(327deg) brightness(96%) contrast(91%);
}

.filter-yellow {
    filter: invert(67%) sepia(58%) saturate(641%) hue-rotate(331deg) brightness(98%) contrast(93%);
}

.filter-green {
    filter: invert(48%) sepia(41%) saturate(705%) hue-rotate(93deg) brightness(91%) contrast(96%);
}