@model QoolloTaskViewer.Models.RegisterModel
@{
  ViewData["Title"] = "Register";
  ViewBag.Current = "Register";
}

<div class="auth">
  <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation alert alert-danger mt-3" asp-validation-summary="ModelOnly"></div>
    <div>
      <div>
        <label asp-for="Username">Username</label><br />
        <input class="form-control" type="text" asp-for="Username" />
        <span asp-validation-for="Username" />
      </div>
      <div>
        <label asp-for="Password">Password</label><br />
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" />
      </div>
      <div>
        <label asp-for="ConfirmPassword">Password confirmation</label><br />
        <input class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" />
      </div>
      <div class="text-center">
        <button class="btn-second mt-3" type="submit">Register</button>
      </div>
    </div>
  </form>

  <p class="text-center mt-2 mb-2">or</p>

  <form class="text-center" method="post">
    <button class="btn" asp-action="Login" asp-controller="Account">Login</button>
  </form>
</div>